# Ignore Python Cache
__pycache__/
*.pyc

# Ignore massive test data and raster formats
test_data/
tmp_wksp/
test_scripts/

# Ignore Magpi Internal Outputs
magpi_output/
magpi_workspace/
magpi_scratch/

# Ignore Data Formats
*.zip
*.tif
*.tfw
*.ovr
*.xml
*.shp
*.shx
*.dbf
*.prj
*.cpg

# Ignore environments
.conda/
venv/
env/

# Ignore massive modules
node_modules/

# Ref docs
/docs
magpi/gui/dist/
