affine
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-doc
annotated-types
anyio
async-timeout
attrs
azure-core
azure-storage-blob
backports.zstd
beautifulsoup4
billiard
boto3
botocore
branca
Brotli
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cligj
contextily
contourpy
cryptography
cycler
docutils
esda
exceptiongroup
filelock
Fiona
Flask
folium
fonttools
frozenlist
fsspec
GDAL
GeoAlchemy2
geographiclib
geopandas
geopy
gmpy2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
importlib_metadata
iniconfig==2.3.0
isodate
itsdangerous
Jinja2
jmespath
joblib
kiwisolver
kombu
laspy
lazrs
libpysal
m2r2
-e git+https://github.com/nexavision-tech/MagPI.git@483219fe207fbd556d4d165ef8c200f508fdeb02#egg=magpi
mapclassify
markdown-it-py
MarkupSafe
matplotlib==3.10.9
mdurl
mercantile
mistune
mpmath
multidict
munch
munkres==1.1.4
networkx
numpy
osmnx
packaging==26.0
pandas
pillow
platformdirs
pluggy==1.6.0
progress==1.6.1
prompt_toolkit
propcache
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyogrio
pyOpenSSL
pyparsing
pyproj
PySide6==6.7.2
PySocks
pytest==9.0.3
python-dateutil
pytz
pyu2f
PyYAML
rasterio
rasterstats
regex
requests
requests-mock==1.12.1
rich
rio-vrt
rsa
s3transfer
safetensors
sciencebasepy==2.0.22
scikit-learn
scipy
shapely
shellingham
shiboken6==6.7.2
simplejson
six
sniffio
soupsieve
SQLAlchemy
sympy
tenacity
threadpoolctl
tokenizers
tomli==2.4.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm
transformers
triton==3.1.0
typer
typing-inspection
typing_extensions
tzdata
unicodedata2
urllib3
vine
wcwidth
websockets
Werkzeug
xyzservices
yarl
zipp
